select{
    padding-right: 10px; 
    border-radius: 5px; 
    border-color: rgb(192, 199, 206);
    color:rgb(101, 107, 112);
    position: absolute;
    left: 53%;
    margin-right: -50%;
}
.SelectInput:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}
.savebtn{
    left: 48%;
    top: 250px;
    margin-right: -50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(42, 126, 115);
    border-style: hidden;
    color: white;
}
.savebtn:focus
{
    outline: none !important;
    box-shadow: 0 0 10px  rgb(48, 143, 130);
}
.bg-gradient {
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #73ffe8 0%, #049e84 100%);
    box-shadow: 2px 2px 10px #01584a
}
.ExpenseBtn:focus{
    outline: none !important;
}
.ExpenseBtn:hover{
    text-shadow: 0 0 10px #719ECE;
}
.editbtn{
    left: 20px;
    top: 22px;
    border-radius:50%;
    width: 30px;
    height: 30px;
    background-color: rgb(42, 126, 115);
    border-style: hidden;
    color: white;
}
.editbtn:focus{
    outline: none !important;
}